<a href="https://colab.research.google.com/github/Abril1030/AbrilPublicRepo/blob/main/Bloque_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
Archivo = 'PRESION_NO_ALIN_V2.xlsx' #Carga el excel
Diccionario = pd.read_excel(Archivo, sheet_name=None, index_col=False) #Guarda todos los registros en un diccionario :) Los nombres de los libros están entre ''

In [ ]:
Sujetos = Diccionario.get('SUJETOS') #Separa los elementos del diccionario y los guarda en un dataframe :3
Sujetos #Ejemplo para mostrar como se ve el output

In [35]:
Alineacion1 = Diccionario.get('ALIN1')
Alineacion2 = Diccionario.get('ALIN2')
Alineacion4 = Diccionario.get('ALIN4')
F21 = Diccionario.get('F21')
F22 = Diccionario.get('F22')
F24 = Diccionario.get('F24')
F61 = Diccionario.get('F61')
F62 = Diccionario.get('F62')
F64 = Diccionario.get('F64')
E21 = Diccionario.get('E21')
E22 = Diccionario.get('E22')
E24 = Diccionario.get('E24')
E61 = Diccionario.get('E61')
E62 = Diccionario.get('E62')
E64 = Diccionario.get('E64')
AB21 = Diccionario.get('AB21')
AB22 = Diccionario.get('AB22')
AB24 = Diccionario.get('AB24')
AB61 = Diccionario.get('AB61')
AB62 = Diccionario.get('AB62')
AB64 = Diccionario.get('AB64')
AD21 = Diccionario.get('AD21')
AD22 = Diccionario.get('AD22')
AD24 = Diccionario.get('AD24')
AD61 = Diccionario.get('AD61')
AD62 = Diccionario.get('AD62')
AD64 = Diccionario.get('AD64')

In [36]:
Caracteristicas1 = Alineacion1.iloc[:7,:3] #Para llamar las características o datos del sujeto en cada libro, revisar si son necesarias. Si no, usar drop hasta el rango de filas útil
Caracteristicas1

,file name: RODRIGUEZ_HENRRY_2.sol,date/time 16.08.14 15.52,Unnamed: 2
0,sensor type: we-519l-520r-30-04,NaN,NaN
1,total time [secs]: 11.700,time per frame [secs]: 0.02000,scanning rate [Hz]: 50
2,pressure values in kPa,NaN,NaN
3,NaN,NaN,NaN
4,mask definition:,NaN,NaN
5,"left insole: 1,2,3,4,5,6,7,8,9,10,11,12,13,14,...",NaN,NaN
6,"right insole: 1,2,3,4,5,6,7,8,9,10,11,12,13,14...",NaN,NaN

In [54]:
LecturasALIN1 = Alineacion1.iloc[8:596,:199] #Para llamar las lecturas de los sensores.
EncabezadoLecturasALIN1 = LecturasALIN1.iloc[0]
LecturasALIN1.columns = EncabezadoLecturasALIN1
LecturasALIN1=LecturasALIN1.drop(labels=[8], axis=0)
LecturasALIN1

8,time[secs],1,2,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,90.0,91.0,92.0,93.0,94.0,95.0,96.0,97.0,98.0,99.0
9,0.02000,0.000,0.000,0.0,0.0,0.0,0.0,45000.0,25000.0,20000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.04000,0.000,15000,0.0,0.0,0.0,0.0,47500.0,25000.0,20000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.06000,0.000,15000,15000.0,0.0,0.0,0.0,45000.0,25000.0,15000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.08000,0.000,15000,0.0,0.0,0.0,0.0,45000.0,25000.0,15000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.10000,0.000,15000,15000.0,0.0,0.0,0.0,45000.0,25000.0,20000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,1162000,0.000,0.000,0.0,0.0,0.0,0.0,42500.0,20000.0,15000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
590,1164000,0.000,0.000,0.0,0.0,0.0,0.0,42500.0,20000.0,15000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
591,1166000,0.000,0.000,0.0,0.0,0.0,0.0,40000.0,20000.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
592,1168000,0.000,0.000,0.0,0.0,0.0,0.0,42500.0,20000.0,15000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
593,1170000,0.000,0.000,0.0,0.0,0.0,0.0,42500.0,25000.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0